.home {
  position: relative;

  &__container {
    position: absolute;
    top: 15%;
    left: 15%;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 5rem;

    width: 70%;
    border-radius: 0.5rem;
    background-color: var(--color-white-80);
    font-size: 1.8rem;

    & h1 {
      font-size: 2.5rem;
      margin-left: 3rem;
    }
  }

  &__modal {
    &__toggle {
      position: absolute;
      top: 1vh;
      right: 1vw;

      color: var(--color-grey-80);
      background-color: var(--color-white-80);
      font-size: 2rem;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      border: none;
      cursor: pointer;
    }

    // Transition config
    transform: scale(1);
    transform-origin: top right;
    opacity: 1;
    transition: transform 0.5s ease-out, opacity 0.3s ease-out;
  }

  &__modal.hidden {
    transform: scale(0);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.3s ease-out,
      visibility 0s 0.5s;
    visibility: hidden;
  }
}

.std-layout {
  display: flex;
  flex-direction: column;
}
