.button {
  padding: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  min-width: 15rem;
}

.primary {
  font-size: 2.4rem;
  color: var(--color-white);
  background-color: var(--color-grey-80);

  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: var(--color-white-80);
    color: var(--color-grey-80);
  }

  @include respond(large2-5) {
    font-size: 1.6rem;
    min-width: 7rem;
  }
}
