.circuit__detail {
  &__container {
    display: flex;
    // margin: 0 5%;
    gap: 15%;
    padding: 5% 10%;
    height: var(--remaining-height);
  }

  &__section {
    &-1 {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      align-items: start;
    }
    &-2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
