// Check cards for more CSS info

// Circuits Cards
.circuit-card {
  & .card__container {
    // display: grid;
    // grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 50% repeat(6, 1fr);
  }

  &__name {
    &.card-label {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    &.card-value {
      grid-column: 1/2;
      grid-row: 3/5;
    }
  }

  &__created-at {
    &.card-label {
      grid-column: 2/3;
      grid-row: 2/3;
    }

    &.card-value {
      grid-column: 2/3;
      grid-row: 3/5;
    }
  }

  &__location {
    &.card-label {
      grid-column: 1/2;
      grid-row: 5/6;
    }

    &.card-value {
      grid-column: 1/2;
      grid-row: 6/8;
    }
  }

  &__capacity {
    &.card-label {
      grid-column: 2/3;
      grid-row: 5/6;
    }

    &.card-value {
      grid-column: 2/3;
      grid-row: 6/8;
    }
  }
}
