.pilot {
  &-form {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    width: 85vw;

    &__label {
      padding-right: 1rem;
    }

    &__select {
      background-color: var(--color-white);
      border: none;
      color: var(--colorgrey-80);
    }

    @include respond(large1) {
      flex-direction: column;
    }

    @include respond(large2) {
      flex-direction: column;
    }
  }

  &-card {
    position: relative;
    padding: 2rem;

    &.card__container {
      grid-template-rows: 70% repeat(2, 1fr);
      grid-template-columns: 1fr;
    }

    &__name {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    &__team {
      grid-column: 1/2;
      grid-row: 3/4;
      display: flex;
    }

    &__position {
      &-info {
        grid-column: 1/2;
        grid-row: 3/4;
      }
    }
  }
}
