*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

  @extend .poppins-light;

  color: var(--color-grey-80);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.react-icons {
  height: inherit;
  width: 3rem;
  // padding: 0 1rem;
  vertical-align: middle;
}
